---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header>
	<!-- <nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink>
	</nav> -->
	<div class="flex">
		<div class="mx-4">فهرست</div>
		<div class="flex-grow"><h3>{SITE_TITLE}</h3></div>
		<div class="mx-4">درباره‌ی من</div>
	</div>
</header>
