---
import BreadCrumb from './BreadCrumb.astro';

interface Props {
	title: string;
}

const {  title } = Astro.props;
---
<!-- Breadcrumb -->
<nav
  class="flex px-5 py-3 text-gray-700 border border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Breadcrumb"
>
  <BreadCrumb/>
</nav>
