---
import Tags from "./Tags.astro";

interface Props {
  tags: string[];
}
const { tags } = Astro.props;
---

{
  tags.length ? (
    <div>
      <hr class="my-4 border-gray-900 sm:mx-auto dark:border-gray-300 lg:my-8" />
      <h6 class="text-white mb-2">Tags:</h6>
      <Tags tags={tags}/>
    </div>
  ) : null
}
